@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /* text-indent: 1rem; */
    font-size: 13px;
}

h1, h2, h3, h4 {
    font-family: 'Eagle Lake', cursive;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
}

#title {
    font-size: 2em;
}

blockquote {
    font-style: italic;
    background-color: white;
    color: rgb(75, 75, 75);
    border: 0;
}  

/* blockquote:before {
    content: "\201C";
    display: inline-block;
    vertical-align: top;
    padding-right: .4em;
    font-size: 16rem;
    line-height: 2px;
} */